body {
    font-family: Arial, sans-serif;
    background-color:lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: lightskyblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 4px 6px lightskyblue;
    width: 700px;
    text-align: center;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .input-section {
    display: flex;
    justify-content: space-between;
  }
  
  input[type="text"] {
    width: 85%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 8px 12px;
    background-color: #00ff3c;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #35b914;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
  }
  
  li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  li.completed {
    text-decoration: line-through;
    color: gray;
  }
  
  .delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }
  